{%extends 'base.html'%}
{% load static %}

{%block content%}


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src={%static 'assets1/logo.png'%}
            height="40"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <form action="/search" method="POST">
            {% csrf_token %}
            <div class="left-side">
                

                
                <!-- <div class="header_search"> -->
                    <input type="text" name="username" placeholder="Search for username..">&nbsp; &nbsp;
                    <button type="submit"><i class="fa fa-search fa-1x"></i></button>
                <!-- </div> -->

            </div>
            </form>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
            <i class="fas fa-home"></i>
        </a>
        <a class="text-reset me-3" href="/uploads">
            <i class="fas fa-plus-square"></i>
        </a>
        <a class="text-reset me-3" href="#">
            <i class="far fa-compass"></i>
        </a>
        <a class="text-reset me-3" href="#">
            <i class="fas fa-heart"></i>
        </a>
  
        <!-- Notifications -->
        
        <!-- Avatar -->
        <ul class="navbar-nav">
            <!-- Avatar -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="{{user_profile.profileimg.url}}"
                  class="rounded-circle"
                  height="22"
                  alt="Portrait of a Woman"
                  loading="lazy"
                />
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#">My profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

{%endblock content%}