{%extends 'base.html'%}
{% load static %}

{%block content%}
<body>
<!--<div class="se-pre-con"></div>-->
{% include 'navbar.html'%}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			
			<div class="col">
				<div>
					<img class="rounded-circle" src="{{user_profile.profileimg.url}}" style="height: 200px; " alt="">
				</div>
				<div>
				 <h3>@{{user_profile.user.username}}</h3>
				
				 <br>
				
			   
				  {{user_profile.bio}}
			    </div>
			</div>
		</div>
			
		<div class="col-md-4">
			
			
			<form action="/follow" method="POST">
				{% csrf_token %}
				<div class="add-btn">
				
				
				{% if user_post_length == 0 %}
				<p style=" font-size: 27px;"><b>No Post</b></p>
				{% elif user_post_length == 1 %}
				<span style=" font-size: 27px;"><b> {{user_post_length}} Post  </b>
				{% else %}
				<span style=" font-size: 27px;"><b>{{user_post_length}}</b> Posts</span>
				{% endif %}

				{% if user_followers == 0 or user_followers == 1 %}
				<span style="font-size: 27px;"><b>{{user_followers}} </b>follower</span>
				{% else %}
				<span style=" font-size: 27px;"><b>{{user_followers}} </b>followers</span>
				{% endif %}


				<span style=" font-size: 27px;"><b>{{user_following}} </b>following</span>

				<input type="hidden" value="{{user.username}}" name="follower" />
				<input type="hidden" value="{{user_object.username}}" name="user" />

				{% if user_object.username == user.username %}
				<a href="/settings" data-ripple="">Account Settings</a>
				{% else %}
				<a data-ripple=""><button type="submit"  class="btn btn-outline-primary btn-rounded">{{button_text}}</button></a>
				{% endif %}

				</div>
			</form>
		</div>
	  
	</div>

</div>
<hr>
<div class="container mb-3">
	{% for post in user_posts %}
	<!-- Button trigger modal -->
	<a class="strip" href="{% url 'viewpost' post.id%}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
		<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
{% endfor %}
  
		


</div>
	
	
	
	
				
				
		
	









	</section>

	
	
	

</body>	

{%endblock content%}
