{%extends 'base.html'%}
{% load static %}

{%block content%}

<body >
    <br>
        <div>
            <div class="">
                
                

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>


                <div class="container">
                    <div class="row">
                      <div class="col-md">
                        <img src={%static 'assets1/mobile-app.png'%}>
                      </div>
                      <div class="col-md">
                          <div class='container'>
                            <div class="card">
                                <div class="card-header">
                                    <img src={%static 'assets1/logo.png'%}>
                                    
                                    
                                </div>
                                
                                <div class="card-body">
                                    <br>
                                    <br>
                                    <br>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        
                                        <input type="text" name="username" placeholder="Username" class="form-control" style="border: 1px solid #d3d5d8 !important;">
                                        <br>
                                        
                                        <input type="password" name="password" placeholder="Password" class="form-control">
                                        <br>
                                        
                                        
                                        <button type="submit" class="btn btn-primary btn-lg" style='height: 50px; width:500px'>Log In</button>
                                        <div class="text-center mt-5 space-x-2">
                                            <p class="text-base"> Not registered? <a href="/signup" class=""> Create a account </a></p>
                                        </div>
                                    </form>
                                    <br>
                                </div>
                              </div>
                                
                        </div>
                       </div>
        
        
        
                    </div>
                </div>
                
                       
                      
                    </div>
                </div>
                
                
                
        <!-- Footer -->

        <div class="lg:mb-5 py-3 uk-link-reset">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <div class="flex space-x-2 text-gray-700 uppercase">
                    <a href="#"> About</a>
                    <a href="#"> Help</a>
                    <a href="#"> Terms</a>
                    <a href="#"> Privacy</a>
                </div>
                <p class="capitalize"> © copyright 2022 by liz</p>
            </div>
        </div>

    </div>

        
        <!-- Footer -->

        <div class="lg:mb-5 py-3 uk-link-reset">
            <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
                <div class="flex space-x-2 text-gray-700 uppercase">
                    <a href="#"> About</a>
                    <a href="#"> Help</a>
                    <a href="#"> Terms</a>
                    <a href="#"> Privacy</a>
                </div>
                <p class="capitalize"> © copyright 2020 by socol</p>
            </div>
        </div>

    </div>

{%endblock content%}
   
</body>


