{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>







<div class="right-side lg:pr-4">
     <!-- upload -->
    <a href="#"
        class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
        <ion-icon name="add-circle" class="-mb-1
         mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Pics
    </a>
     <!-- upload dropdown box -->
    <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">

        <!-- notivication header -->
        <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">
            <h4>Upload Pics</h4>
        </div>

        <!-- notification contents -->
        <div class="flex justify-center flex-center text-center">

            <div class="flex flex-col choose-upload text-center">
               
                <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                    </svg>
                </div>

                <form action="upload" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <p class="my-3 leading-6"> Upload pics
                </p>
                <div>
                    <input type="file" name="image_upload">
                    <!-- <a href="#" class="button soft-warning small"> Choose file</a> -->
                    <textarea class="button soft-warning small" name="caption" placeholder="caption..." ></textarea>
                    <br>
                    <button class="button bg-blue-700" type="submit" >Upload</button>
                </div>
                </form>

            </div>

        </div>

    </div>


                <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

